
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px; 
    height: 100vh; 
}

.sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 20px;
    justify-content: left;
}


.main-content {
    width: 75%;
    background-color: #fff;
    padding: 20px;
    justify-content: right;
}
